In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("heart.csv")

In [4]:
df.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,target
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,2,37,1,2,130,250,0,1,187,0,3.5,0,0,1
2,3,41,0,1,130,204,0,0,172,0,1.4,2,0,1
3,4,56,1,1,120,236,0,1,178,0,0.8,2,0,1
4,5,57,0,0,120,354,0,1,163,1,0.6,2,0,1

In [8]:
x=pd.DataFrame(df.iloc[:,:-1])
y=pd.DataFrame(df.iloc[:,-1])

In [9]:
x.head()

,Unnamed: 0,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca
0,1,63,1,3,145,233,1,0,150,0,2.3,0,0
1,2,37,1,2,130,250,0,1,187,0,3.5,0,0
2,3,41,0,1,130,204,0,0,172,0,1.4,2,0
3,4,56,1,1,120,236,0,1,178,0,0.8,2,0
4,5,57,0,0,120,354,0,1,163,1,0.6,2,0

In [10]:
y.head()

   target
0       1
1       1
2       1
3       1
4       1

In [11]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
lr=LogisticRegression()

In [19]:
lr.fit(x_train,y_train)

C:\Users\LENOVO-320\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\LENOVO-320\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
y_pred=lr.predict(x_test)

In [22]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [26]:
confusion_matrix(y_pred,y_test)

array([[26,  0],
       [ 1, 34]], dtype=int64)

In [27]:
accuracy_score(y_pred,y_test)

0.9836065573770492

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
clf=RandomForestClassifier()

In [30]:
clf.fit(x_train,y_train)

C:\Users\LENOVO-320\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [31]:
y_pred=clf.predict(x_test)

In [33]:
confusion_matrix(y_pred,y_test)

array([[27,  0],
       [ 0, 34]], dtype=int64)

In [36]:
accuracy_score(y_pred,y_test)

1.0